

.chrImg {
  width: 150px;
}
body {
  height: 100%;
  background-image: url(https://wallpapergod.com/images/hd/dark-anime-1920X1080-wallpaper-u6fb9zavd2wtx3fq.webp);

  background-size: 100%;
}

li::marker {
  color: gold;
}

ul > li {
  font-size: 1.5em;
  color: lightblue;
}

ul {
  display: inline-block;
}

#monster {
  color: darkred;
  font-size: 2em;
}

#loot {
  color: gold;
  font-size: 2em;
}
.cancleSymbol:hover {
  opacity: 1.6;
  z-index: 20;
} 

.cancleSymbol {
  width: 15px;
  height: 15px;
  content: "&#10060";
  position: relative;
  cursor: pointer;
  transform: translate(-50%, -66%);
  font-weight: 700;
  
  font-size: .5em;
   opacity: .5;
}
