body {
  height: auto;
  background-image: url(https://wallpapers.com/images/featured/demon-e8ub5ammhk8j96d6.jpg);
  background-size: auto;
}

#heroNPC {
  color: lightgreen;
  font-size: 1em;
}

#loot {
  color: gold;
  font-size: 1em;
}

#monster {
  color: brightred;
  font-size: 1em;
}

#row{
  border: 5px;
  padding: 5px;
  justify-content: space-between;
}

