

.chrImg {
  width: 150px;
 
}
body{
  height: 100%;
  background-image: url(https://wallpapergod.com/images/hd/dark-anime-1920X1080-wallpaper-u6fb9zavd2wtx3fq.webp);
  
  background-size:cover
}

li::marker {
 
 color: gold
}

ul > li {
  font-size: 1.5em;
 color: lightblue;
    
}

ul{
  display: inline-block;

}