@import "~bootstrap/dist/css/bootstrap.css";

body {
  height: 100%;
  background-image: url(https://imgix.ranker.com/user_node_img/50071/1001417986/original/parasites-parasyte-the-maxim-photo-u1?auto=format&q=60&fit=crop&fm=pjpg&dpr=2&w=375);
  background-size: 100%;
  https: //wallpapers.com/images/hd/treasure-1920-x-1080-background-boef6qwxai9zidt0.jpg
;
}

#heroNPC {
  color: darkblue;
  font-size: 2em;
}

#loot {
  color: gold;
  font-size: 2em;
}

#monster {
  color: darkred;
  font-size: 2em;
}
