body {
  height: 100%;
  background-image: url(https://wallpapers.com/images/hd/treasure-1920-x-1080-background-boef6qwxai9zidt0.jpg);
  background-size: 100%;
}
#monster {
  color: red;
  font-size: 1.5em;
}
#index {
  color: lightgreen;
  font-size: 1em;
}

#heroLoot{
	color: gold;
	font-size: 1em;
}

 .cancleSymbol:hover {
    opacity: 1.6;
    z-index: 20;
} 

.cancleSymbol {
    width: 15px;
    height: 15px;
    content: "&#10060";
    position: relative;
    cursor: pointer;
    transform: translate(-50%, -66%);
    font-weight: 700;
    
    font-size: .5em;
     opacity: .5;
}

#row{
  border: 5px;
  padding: 5px;
  justify-content: space-between;
}

.remove{
   border: 1px;
  padding: 1px;
}

ul > li {
  font-size: 1.5em;
  color: lightblue;
  
}

ul {
  display: inline-block;
 
  position: flex;
}
